In [ ]:
- title: Занятие 2
- author: Timofey Khirianov
- date: 2024-09-10
- slug: 2024_lpr_lab02
- ipynb_url: download/2024_lpr_lab02.ipynb
- test_link: https://cs.mipt.ru:44367/cgi-bin/new-client?contest_id=20402
- test_comment: Контест для выполнения
- test_link_alt: https://olymp3.vdi.mipt.ru/cgi-bin/new-client?contest_id=20402
- test_comment_alt: (альтернативная ссылка)

# Лабораторное занятие 2

## Логический тип данных (тип bool)

Логический тип данных (`bool`) относится к неизменяемым типам данных и переменная этого типа может принимать только два значения - `True` и `False`. Это еще один базовый тип данных.

In [1]:
print(1 > 0)

True

In [2]:
a = 1 > 0
print(a)

True

In [3]:
b = 1 < 0
print(b)

False

In [4]:
print(a * 5)
print(b * 3)

5
0

Логические условия можно объединять с помощью операторов & ('логическое И'), | ('логическое ИЛИ') и ~ ('логическое отрицание').

In [5]:
a = 1
b = 10
(a < 5) & (a<=b)

True

Именно тип `bool` используется в каскадной конструкции `if elif ... else`:

In [6]:
if 1 > 0:
    print(2)

2

Существует приведение типов. Любое число, отличное от нуля с логической точки зрения — `True`, нуль воспринимается как `False`

In [7]:
if 5:
    print(2)
else:
    print("!")

2

In [5]:
if 0:
    print(4)
else:
    print("!")

!

In [9]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

### Оператор `in`
Лексема `in` может быть использована не только как часть синтаксической конструкции цикла `for`, но и как *оператор* для проверки принадлежности элемента итерируемому объекту:

In [10]:
print(4 in [1, 2, 3, 4, 5])
print(6 in [1, 2, 3, 4, 5])

True
False

In [6]:
print(4 in range(1, 6))
print(6 in range(1, 6))

True
False

In [12]:
print("b" in "abc")
print("B" in "abc")

True
False

## Двумерные списки

"Двумерный список" — это обычный список, элементами которого являются списки. Такой термин удобен для нас, но для Python нет разницы между одномерными и двумерными списками. В частности, нечто такое вообще будет являться промежуточным: `[1, [2, 3, 4], 5]`

Списки элементами, которых являются другие списки называются вложенными. Например, вложенными будут списки `[1, [2, 3, 4], 5]` и `[[1, 2, 3, 4], [5, 6], [7, 8, 9]]`.

Создадим список и рассмотрим обращение к элементам.

In [7]:
a = [[1, 2, 3], [4, 5, 6]]
print(*a)
print(a[1])
print(a[1][0])
print(a[-1][-1])

[1, 2, 3] [4, 5, 6]
[4, 5, 6]
4
6

In [14]:
for i in range(len(a)):
    print(*a[i])

1 2 3
4 5 6

Для создания списка можем использовать генераторы:

In [8]:
a = [[1, 2, 3] for i in range(4)]
for i in range(len(a)):
    print(*a[i])

1 2 3
1 2 3
1 2 3
1 2 3

In [9]:
a = [[i, i+1, i+2] for i in range(4)]
for i in range(len(a)):
    print(*a[i])

0 1 2
1 2 3
2 3 4
3 4 5

In [17]:
for x in a:
    print(*x)

0 1 2
1 2 3
2 3 4
3 4 5

In [18]:
print(a)

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]]

Вот пример создания списка списков при помощи генератора списка, *вложенного* в генератор списка:

In [19]:
a = [[j for j in range(5)] for i in range(5)]
for x in a:
    print(*x)

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

**Упражнение 1:** создайте двумерный список. Заполните его следующим образом: значение элемента - номер его строки.

In [11]:
a = [[i, i, i] for i in range(4)]
print(a)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

**Пример.** Напечатаем таблицу умножения $10*10$:

In [20]:
n, m = 10, 10
a = [[i * j for j in range(1, m + 1)] for i in range(1, n + 1)]
for x in a:
    print(*x)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## Сортировка списков

Не углубляясь в алгоритмы, разберем, как можно сортировать списки в Python. Для этого есть функции `sort` и `sorted`. Первая изменяет сортируемый объект, вторая создает новый, а исходный остается:

In [12]:
a = [3, 1, 5, 4, 2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [13]:
a = [3, 1, 5, 4, 2]
print(sorted(a))
print(a)

[1, 2, 3, 4, 5]
[3, 1, 5, 4, 2]

Но можем использовать вторую вместо первой:

In [14]:
a = [3, 1, 5, 4, 2]
a = sorted(a)
print(a)

[1, 2, 3, 4, 5]

Сортировка по ключу. key - это второй параметр функции `sorted` и он часто записывает в виде лямбда-функции, которая возвращает функции от объектов, которые мы используем в качестве меры этих объектов для сортировки

In [15]:
a = [3, 1, 5, 4, 2]
a = sorted(a, key = lambda x: -x)
print(a)

[5, 4, 3, 2, 1]

In [16]:
a = [[1, 5], [3, 3], [5, 5], [3, 0]]
print(sorted(a, key = lambda x: sum(x)))

[[3, 0], [1, 5], [3, 3], [5, 5]]

In [17]:
a = [[1, 5], [3, 3], [5, 5], [3, 0]]
print(sorted(a, key = lambda x: x[0] ** 2 + x[1] ** 2))

[[3, 0], [3, 3], [1, 5], [5, 5]]

Можем сортировать по нескольким параметрам в порядке убывания приоритета:

In [18]:
a = [[1, 6], [2, 5], [3, 4]]
print(sorted(a, key = lambda x: (sum(x), x[1])))

[[3, 4], [2, 5], [1, 6]]

`(sum(x), x[1])` - это кортеж. Кортежи похожи на списки, но они неизменяемы (нельзя присваивать по индексу и добавлять элементы)

In [19]:
a = [1, 2]
a[1] = 3
print(a)

[1, 3]

In [20]:
a = (1, 2)
a[1] = 3
print(a)

TypeError: 'tuple' object does not support item assignment

In [21]:
a = [1, 2]
a.append(3)
print(a)

[1, 2, 3]

In [22]:
a = (1, 2)
a.append(3)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
a = [1, 2]
a = [3, 4]
print(a)

[3, 4]

In [24]:
a = (1, 2)
a = (3, 4)
print(a)

(3, 4)

Строки сортируются в лексикографическом порядке:

In [25]:
a = ["100", "11", "12", "120", "119"]
print(sorted(a))

['100', '11', '119', '12', '120']

In [26]:
a = ["100", "11", "12", "120", "119"]
print(sorted(a, key = lambda x: int(x)))

['11', '12', '100', '119', '120']

## Функции, возвращающие значение
Функции — это вспомогательные алгоритмы.

###  Логическое значение как результат работы функции
Ниже описаны три аналогичных функции. Прочитайте их тела и объясните почему они работают одинаково.
Какая из них вам больше нравится?

In [27]:
def is_positive(x):
    if x > 0:
        return True
    else:
        return False

print(is_positive(5))
print(is_positive(-5))

True
False

In [28]:
def is_positive(x):
    if x > 0:
        return True
    return False

print(is_positive(5))
print(is_positive(-5))

True
False

In [29]:
def is_positive(x):
    return x > 0

print(is_positive(5))
print(is_positive(-5))

True
False

## Анонимные функции (lambda-функции)

Лямбда-функции в Python являются анонимными. Это означает, что функция безымянна. Как известно, ключевое слов def используется в Python для определения обычной функции. В свою очередь, ключевое слово  lambda  используется для определения анонимной функции. 

Лямбда-функции задаются следующим образом:

`Lambda аргументы: выражение`

Лямбда-функции могут иметь любое количество аргументов, но у каждой может быть только одно выражение.

In [30]:
double = lambda x: x*2
print(double(5))

10

## Функции как аргументы функций map, reduce и filter
Для поэлементной обработки любого итерируемого объекта можно использовать функции `map` и `filter`.

Функция map() используется для применения функции к каждому элементу итерируемого объекта (например, списка или словаря) и возврата нового итератора для получения результатов.

Синтаксис функция map() следующий:

map(function, iterable, [iterable 2, iterable 3, ...])

Функция filter() применяет другую функцию к заданному итерируемому объекту (список, строка, словарь и так далее) и проверяет нужно ли сохранить конкретный элемент или нет. Другими словами, она отфильтровывает то, что не проходит и возвращает все остальное.

Функция reduce() принимает в качестве аргументов функцию и список. Функция вызывается с помощью лямбда-функции и итерируемого объекта  и возвращается новый уменьшенный результат. Так выполняется повторяющаяся операцию над парами итерируемых объектов. Функция reduce() входит в состав модуля functools.

In [31]:
a = "1 2 -3 4 -5".split()
print(a)
a = list(map(int, a))
print(a)

['1', '2', '-3', '4', '-5']
[1, 2, -3, 4, -5]

In [32]:
a = "1 2 -3 4 -5".split()
print(a)
a = list(map(float, a))
print(a)

['1', '2', '-3', '4', '-5']
[1.0, 2.0, -3.0, 4.0, -5.0]

In [33]:
a = "1 2 -3 4 -5 0".split()
print(a)
a = list(map(bool, a))
print(a)

['1', '2', '-3', '4', '-5', '0']
[True, True, True, True, True, True]

In [34]:
a = "1 2 -3 4 -5 0".split()
print(a)
a = list(map(int, a))
print(a)
a = list(map(bool, a))
print(a)

['1', '2', '-3', '4', '-5', '0']
[1, 2, -3, 4, -5, 0]
[True, True, True, True, True, False]

Как параметр для `map` можно передавать не только стандартные функции, но и свои собственные:

In [35]:
def my_function(x):
    return x * 2

a = "1 2 -3 4 -5".split()
print(a)
a = list(map(my_function, a))
print(a)

['1', '2', '-3', '4', '-5']
['11', '22', '-3-3', '44', '-5-5']

Такие "одноразовые функции" загрязняют пространство имён, поэтому есть возможность создать **безымянную функцию** при помощи слова `lambda`. Вычисляясь, лямбда-выражение "изготавливает" новую функцию и передаёт её как объект туда, где она нужна — в функцию `map`. Затем она сразу забывается.

In [36]:
a = "1 2 -3 4 -5".split()
print(a)
a = list(map(lambda x: x * 2, a))
print(a)

['1', '2', '-3', '4', '-5']
['11', '22', '-3-3', '44', '-5-5']

In [12]:
from functools import reduce

current_list = [5, 15, 20, 30, 50, 55, 75, 60, 70]
summa = reduce((lambda x, y: x + y), current_list)
print(summa)

380

In [38]:
a = [1, 2, -3, 4, -5]
b = list(map(lambda x: x > 0, a))
c = list(filter(lambda x: x > 0, a))
print(b)
print(c)

[True, True, False, True, False]
[1, 2, 4]

Можем делать "сложную" лямбда-функцию:

In [48]:
a = "1 2 -3 4 -5".split()
print(a)
a = list(map(lambda x: abs(int(x)), a))
print(a)

['1', '2', '-3', '4', '-5']
[1, 2, 3, 4, 5]

In [49]:
# Дан список чисел
numbers = [10, 2, 3, 55, 70, 8, 10, 1]

# функция, которая проверяет числа
def filter_odd_num(in_num):
    if(in_num % 2) == 0:
        return True
    else:
        return False

# Применение filter() для удаления нечетных чисел
out_filter = filter(filter_odd_num, numbers)

print("Тип объекта out_filter: ", type(out_filter))
print("Отфильтрованный список: ", list(out_filter))

Тип объекта out_filter:  <class 'filter'>
Отфильтрованный список:  [10, 2, 70, 8, 10]

**Упражнение 2:** считайте список с клавиатуры. С помощью функции `filter` удалите из него те элементы, которые *не* являются квадратами однозначных натуральных чисел.

In [39]:
a = list(map(int, input().split()))
print(*a)

1 2 3

Можно использовать `map` для обработки считанного списка. Считываем с помощью функции `input()` объект типа `str`, к нему применяем метод `split()` и получаем `list`, ко всем его элементам функция `map` применяет функцию `int`, а конструктор списка `list` сохраняет результат в список:

In [50]:
a = list(map(int, input().split()))
print(a)

1 2 3
[1, 2, 3]

In [51]:
a = [list(map(int, input().split())) for i in range(5)]

2 3 1
12 1 1
1 3
4
5

In [40]:
for x in a:
    print(*x)

TypeError: print() argument after * must be an iterable, not int

Пример: удалить из матрицы строки с отрицательной суммой

In [42]:
a = [[5, -2, 3], [-1, 2, -3], [-8, 4, 5]]
for x in a:
    print(*x)

5 -2 3
-1 2 -3
-8 4 5

In [41]:
a = list(filter(lambda x: sum(x) >= 0, a))
print(a)

TypeError: 'int' object is not iterable

In [43]:
print(sum(a[0]), sum(a[1]))

6 -2

И еще примеры:

In [44]:
a = [1, 2, 3, 4, 5]
print(list(map(lambda x: x ** 2, a)))

[1, 4, 9, 16, 25]

In [45]:
a = [1, 2, -3, 4, -5]
print(list(map(lambda x: x if x >= 0 else 0, a)))

[1, 2, 0, 4, 0]

## Цикл while. Целочисленная арифметика

Кроме цикла `for` в Python используется цикл `while`. Например, он удобен, если нужно указать условие выхода через условие типа `bool`

In [46]:
i = 0
while i < 5:
    print(i ** 2)
    i += 1

0
1
4
9
16

In [47]:
for i in range(5):
    print(i ** 2)

0
1
4
9
16

Еще две арифметические операции, которые потребуются в примере ниже: деление с остатком и целочисленное деление.

In [48]:
print(16 % 3)
print(16 // 3)

1
5

С помощью цикла `while` удобно обращаться к отдельным цифрам числа. Например, можно сохранить их в массив:

In [49]:
a = []
n = 2345
while n > 0:
    a.append(n % 10)
    n = n // 10
print(a)

[5, 4, 3, 2]

**Упражнение 3:** напишите функцию, которая вычисляет сумму цифр числа, считайте число с клавиатуры и примените эту функцию.

In [2]:
def summ(x):
    s = 0
    x = list(map(int, list(str(x))))
    for i in range(len(x)):
        s+=x[i]
    return s
x = int(input())
print(summ(x))

21

Можно запустить "бесконечный цикл" (он ничем не отличается от обычного). Внутри циклов можно использовать конструкции `break` и `continue`:

In [ ]:
while True:
    a = int(input())
    print(a)

245
123
2345
234256
24562

Для прерывания работы ячейки можно нажать на квадратик.

In [67]:
while True:
    a = int(input())
    if a > 0:
        print(a)
    else:
        break

KeyboardInterrupt: Interrupted by user

In [ ]:
while True:
    a = int(input())
    if a > 0:
        continue
    else:
        break

## Работа с файлами

Пример: создайте файл input.txt, скопируйте туда таблицу с числами ниже:

    1 2 3
    4 5 6
    
По умолчанию файл открывает в режиме "чтения", т. е. внести изменения в него не получится.
Есть следующие режимы открытия файлов:

'r'	открытие на чтение (является значением по умолчанию).

'w'	открытие на запись, содержимое файла удаляется, если файла не существует, создается новый.

'x'	открытие на запись, если файла не существует, иначе исключение.

'a'	открытие на дозапись, информация добавляется в конец файла.

'b'	открытие в двоичном режиме.

'+'	открытие на чтение и запись

In [5]:
with open("input.txt", "r") as f:
    print(f.read())

1 2 3
4 5 6

In [6]:
with open("input.txt", "r") as f:
    s = f.read()
    print(s)

1 2 3
4 5 6

In [7]:
s, type(s)

('1 2 3\n4 5 6', str)

Так выглядит внутреннее представление строки `s`. Когда мы вызываем функцию `print` символ переноса строки `\n` переводит курсор на новую строку:

In [8]:
print("1\n2")

1
2

In [9]:
with open("input.txt", "r") as f:
    a = f.readlines()
print(a)

['1 2 3\n', '4 5 6']

Напомним, что `rstrip()` удаляет пробельные элементы из конца строки, в частности, символ переноса строки

In [10]:
with open("input.txt", "r") as f:
    a = f.readlines()
    a = list(map(lambda x: x.rstrip(), a))
print(a)

['1 2 3', '4 5 6']

In [11]:
with open("input.txt", "r") as f:
    a = f.readlines()
    a = list(map(lambda x: x.rstrip().split(), a))
print(a)

[['1', '2', '3'], ['4', '5', '6']]

In [12]:
with open("input.txt", "r") as f:
    a = f.readlines()
    a = list(map(lambda x: [int(y) for y in x.rstrip().split()], a))
print(a)

[[1, 2, 3], [4, 5, 6]]

Или проще:

In [13]:
with open("input.txt", "r") as f:
    a = f.readlines()
    a = list(map(lambda x: x.rstrip().split(), a))
    for i in range(len(a)):
        for j in range(len(a[i])):
            a[i][j] = int(a[i][j])
print(a)

[[1, 2, 3], [4, 5, 6]]

**Пример:** в созданный файл запишем вместо чисел, которые там были, новые числа, равные квадратам исходных

In [14]:
b = [[a[i][j] ** 2 for j in range(len(a[i]))] for i in range(len(a))]
print(b)

[[1, 4, 9], [16, 25, 36]]

In [15]:
with open("output.txt", "w") as f:
    f.writelines([" ".join(x) for x in b])

TypeError: sequence item 0: expected str instance, int found

In [16]:
b = [[str(x) for x in b[i]] for i in range(len(b))]
with open("output.txt", "w") as f:
    f.writelines([" ".join(x) for x in b])

Посмотрите, что записалось в файл. Не совсем то, что нужно, не хватает символов переноса строки

In [17]:
b = [[str(x) for x in b[i]] for i in range(len(b))]
with open("output.txt", "w") as f:
    f.writelines([" ".join(x) + "\n" for x in b])

Файлы можно открывать не только на запись, но и на дозапись. Обратите внимание, что в предыдущей ячейке предыдущее сожержимое файла стерлось запуском `open`, для этого используем флажок `a` вместо `w`

In [18]:
b = [[str(x) for x in b[i]] for i in range(len(b))]
with open("output.txt", "a") as f:
    f.write("done!")

**Пример:** дана таблица результатов олимпиады в формате "Фамилия Имя Класс Балл". Нужно скопировать ее в текстовый файл и считать в двумерный массив. Задача - определить фамилию и имя победителя олимпиады. Если их несколько, вывести первого в лексикографическом порядке.

Решение: считаем данные в двумерный список. Отсортируем его по убыванию балла и по возрастанию ФИ.

Таблица:

    Иванов Сергей 9 90
    Сергеев Петр 10 85
    Петров Иван 11 90

In [20]:
with open("input.txt", "r", encoding="utf-8") as f:
    a = list(map(lambda x: x.rstrip().split(), f.readlines()))
    print(a)

[['Иванов', 'Сергей', '9', '90'], ['Сергеев', 'Петр', '10', '85'], ['Петров', 'Иван', '11', '90']]

In [21]:
print(sorted(a, key = lambda x: (-int(x[3]), x[0], x[1])))

[['Иванов', 'Сергей', '9', '90'], ['Петров', 'Иван', '11', '90'], ['Сергеев', 'Петр', '10', '85']]

In [22]:
print(" ".join(sorted(a, key = lambda x: (-int(x[3]), x[0], x[1]))[0][:2]))

Иванов Сергей

## Генераторы и отложенные вычисления

In [23]:
def foo(x):
    print(f"foo called for {x}")
    return x * 10

for x in map(foo, [1, 2, 3]):
    print(x)

foo called for 1
10
foo called for 2
20
foo called for 3
30

In [24]:
def foo(x):
    print(f"foo called for {x}")
    return x * 10

def boo(x):
    print(f"foo called for {x}")
    return x + 1000

A = [1, 2, 3]
B = map(foo, A)
C = map(boo, B)
print("Iterations start:")
for x in C:
    print(x)

Iterations start:
foo called for 1
foo called for 10
1010
foo called for 2
foo called for 20
1020
foo called for 3
foo called for 30
1030

## Итерируемые объекты

Часто бывает удобно использовать *распаковку* переменных:

In [25]:
a, b = 1, 2
print(a)
print(b)

1
2

In [26]:
a, b, c = [1, 2, 3]
print(a)
print(b)
print(c)

1
2
3

In [27]:
a, b, c = [1, 2, 3, 4, 5]

ValueError: too many values to unpack (expected 3)

In [28]:
*a, b, c = [1, 2, 3, 4, 5]
print(a, b, c)

[1, 2, 3] 4 5

In [29]:
a, *b, c = [1, 2, 3, 4, 5]
print(a, b, c)

1 [2, 3, 4] 5

In [30]:
a, b, *c = [1, 2, 3, 4, 5]
print(a, b, c)

1 2 [3, 4, 5]

In [31]:
for a, b, c in [(1, 2, 3), (4, 5, 6), (7, 8, 9)]:
    print(a, b, c)

1 2 3
4 5 6
7 8 9

In [32]:
for a, *b in [(1, 2, 3, 4), (10, 20), (100, 200, 300)]:
    print(a, b)

1 [2, 3, 4]
10 [20]
100 [200, 300]

In [33]:
a, (b, c) = [1, (2, 3)]
print(a, b, c)

1 2 3

### enumerate, zip, for с распаковкой

В цикле `for` также можно использовать распаковку:

In [34]:
a = [[1, 2], [3, 4], [5, 6]]
for x, y in a:
    print(x, y, x + y)

1 2 3
3 4 7
5 6 11

Часто такая распаковка используется не сама по себе, а вместе с использованием удобных функций `zip` и `enumerate`, которые позволяют удобнее работать со списками:

In [35]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 0, 0]]
for i, x in enumerate(a):
    print(i, x, sum(x))

0 [1, 2, 3] 6
1 [4, 5, 6] 15
2 [7, 8, 9] 24
3 [0, 0, 0] 0

In [36]:
with open("1.txt", "w") as f:
    f.writelines([word + "\n" for word in ["dog", "cat", "mouse", "duck", "goose"]])
for line in open("1.txt"):
    print(line.strip())

dog
cat
mouse
duck
goose

In [37]:
for i, x in enumerate(open("1.txt")):
    print(i, x.rstrip())

0 dog
1 cat
2 mouse
3 duck
4 goose

In [38]:
a = ["ab", "cd", "ef"]
b = [1, 2, 3]
print(list(zip(a, b)))

[('ab', 1), ('cd', 2), ('ef', 3)]

In [39]:
for a, b in zip("abcde", range(5)):
    print(a, b)

a 0
b 1
c 2
d 3
e 4

In [40]:
for a, b in zip("abcde", range(10)):
    print(a, b)

a 0
b 1
c 2
d 3
e 4

## Модуль itertools

Для более удобной работы с итерируемыми объектами мы можем использовать библиотеку `itertools`. Для этого нужно ее импортировать:

In [20]:
import itertools as it

In [42]:
for x, y, z in it.permutations("ABC"):
    print(x, y, z, sep='')

ABC
ACB
BAC
BCA
CAB
CBA

In [43]:
for x, y, z in it.permutations("ABCD", 3):
    print(x, y, z, sep='', end=' ')

ABC ABD ACB ACD ADB ADC BAC BAD BCA BCD BDA BDC CAB CAD CBA CBD CDA CDB DAB DAC DBA DBC DCA DCB

Дополнительно по `itertools`можно посмотреть: https://proglib.io/p/iteriruemsya-pravilno-20-priemov-ispolzovaniya-v-python-modulya-itertools-2020-01-03

**Упражнение 4:**
Вычислите с помощью `it.permutation` $C_{12}^{5}$

In [22]:
print(len([i for i in it.permutations('1234567890ab', 5)])/len([i for i in it.permutations('12345')]))

792.0

In [46]:
for x, y in it.combinations("ABCDE", 2):
    print(x, y, sep='', end=' ')

AB AC AD AE BC BD BE CD CE DE

In [47]:
for x, y in it.combinations_with_replacement("ABCDE", 2):
    print(x, y, sep='', end=' ')

AA AB AC AD AE BB BC BD BE CC CD CE DD DE EE

In [48]:
for a in it.chain("мама", "мыла", "раму"):
    print(a, end=' ')

м а м а м ы л а р а м у

In [49]:
for a in it.chain([5, 4, 3], [3, 4, 5], [[3, 4, 5]]):
    print(a, end=' ')

5 4 3 3 4 5 [3, 4, 5]

In [50]:
for n, s in it.product("wxyz", "ABC"):
    print(n, s)

w A
w B
w C
x A
x B
x C
y A
y B
y C
z A
z B
z C

**Упражнение 5:**
Введите 2 списка (координаты вектора `a` и координаты вектора `b`) и найдите скалярное произведение этих векторов, используя `zip` или что-нибудь из `itertools`.

In [17]:
a = list(map(int, input().split()))
b = list(map(int, input().split()))
result = list(zip(a, b))
s = sum(list(map(lambda x: x[1]*x[0], result)))
print(s)

14

**Упражнение 6:**
Студент составляет 4-буквенные слова из букв A, B, E, F, L, U. Каждую букву можно использовать не более одного раза, при этом в слове нельзя использовать более одной гласной. Сколько различных кодов может составить студент?При решении используйте `itertools`.

In [21]:
a = 0
for i in it.permutations('abeflu', 4):
    if (i.count('a') + i.count('e') + i.count('u')) < 2:
        a += 1
print(a)

72

**Упражнение 7:**
Составьте все возможные пары из элементов строк '123456' и 'abcdef' такие, что первый элемент пары из числовой строки, а второй из текстовой. При решении используйте `itertools`.

In [23]:
print(*[i for i in it.product('123456', 'abcdef')])

('1', 'a') ('1', 'b') ('1', 'c') ('1', 'd') ('1', 'e') ('1', 'f') ('2', 'a') ('2', 'b') ('2', 'c') ('2', 'd') ('2', 'e') ('2', 'f') ('3', 'a') ('3', 'b') ('3', 'c') ('3', 'd') ('3', 'e') ('3', 'f') ('4', 'a') ('4', 'b') ('4', 'c') ('4', 'd') ('4', 'e') ('4', 'f') ('5', 'a') ('5', 'b') ('5', 'c') ('5', 'd') ('5', 'e') ('5', 'f') ('6', 'a') ('6', 'b') ('6', 'c') ('6', 'd') ('6', 'e') ('6', 'f')

**Упражнение 8:**
Если выписать все натуральные числа меньше 10, кратные 3 или 5, то получим 3, 5, 6 и 9. Сумма этих чисел равна 23.

Найдите сумму всех чисел меньше 1000, кратных 3 или 5. Предложите не менее 3-х вариантов решения.

In [27]:
#первый
print(sum([i for i in range(1, 1000) if i % 3 == 0 or i % 5 == 0]))

#второй
def f(n):
    a = 0
    for i in range(1, 1000):
        if i % 3 == 0 or i % 5 == 0:
            a += i
    return a 
print(f(1000))

#третий
print(sum(set([i for i in range(3, 1000, 3)] + [i for i in range(5, 1000, 5)])))

233168
233168
233168

**Упражнение 9:**
Сгенерируйте список используя чисел от -10 до 1000 с шагом 2. Выберите только элементы с чётными индексами. После этого используя функцию reduce и lambda-функцию найдите произведение элементов полученного списка.

In [28]:
a = [i for i in range(-10, 1001, 2)]
a = [a[i] for i in range(0, len(a), 2)]
print(reduce((lambda x, y: x * y), a))

-45290111066602020244423816104577934436194667523667299991146526630609350576535143476822818277545281132461480959809177780556719404695121018695033723366834369605266804461805357115756487957917605734490028166998982938738595340033222332870262022387310260587668188293521949200596225179828686557313869847964876668982526527370362748724415416022843941570833698945076046872721342656275979749630964598643814352822735475082464306250018600185585258735444511644226543047953388028746538737492774545009169198161307559238109672488933260937223364664804748070868593627745461847110617706251314723291136000000000000000000000000000000000000000000000000000000000000000

**Упражнение 10:**
Сгенерируйте список используя чисел от -10 до 1000 с шагом 2. Выберите только элементы с нечётными индексами. После этого используя функцию map возведите в квдрат каждый элемент полученноо списка.

In [29]:
a = [i for i in range(-10, 1001, 2)]
a = [a[i] for i in range(1, len(a), 2)]
a = list(map(lambda x: x**2, a))
print(a)

[64, 16, 0, 16, 64, 144, 256, 400, 576, 784, 1024, 1296, 1600, 1936, 2304, 2704, 3136, 3600, 4096, 4624, 5184, 5776, 6400, 7056, 7744, 8464, 9216, 10000, 10816, 11664, 12544, 13456, 14400, 15376, 16384, 17424, 18496, 19600, 20736, 21904, 23104, 24336, 25600, 26896, 28224, 29584, 30976, 32400, 33856, 35344, 36864, 38416, 40000, 41616, 43264, 44944, 46656, 48400, 50176, 51984, 53824, 55696, 57600, 59536, 61504, 63504, 65536, 67600, 69696, 71824, 73984, 76176, 78400, 80656, 82944, 85264, 87616, 90000, 92416, 94864, 97344, 99856, 102400, 104976, 107584, 110224, 112896, 115600, 118336, 121104, 123904, 126736, 129600, 132496, 135424, 138384, 141376, 144400, 147456, 150544, 153664, 156816, 160000, 163216, 166464, 169744, 173056, 176400, 179776, 183184, 186624, 190096, 193600, 197136, 200704, 204304, 207936, 211600, 215296, 219024, 222784, 226576, 230400, 234256, 238144, 242064, 246016, 250000, 254016, 258064, 262144, 266256, 270400, 274576, 278784, 283024, 287296, 291600, 295936, 300304, 304704, 309136, 313600, 318096, 322624, 327184, 331776, 336400, 341056, 345744, 350464, 355216, 360000, 364816, 369664, 374544, 379456, 384400, 389376, 394384, 399424, 404496, 409600, 414736, 419904, 425104, 430336, 435600, 440896, 446224, 451584, 456976, 462400, 467856, 473344, 478864, 484416, 490000, 495616, 501264, 506944, 512656, 518400, 524176, 529984, 535824, 541696, 547600, 553536, 559504, 565504, 571536, 577600, 583696, 589824, 595984, 602176, 608400, 614656, 620944, 627264, 633616, 640000, 646416, 652864, 659344, 665856, 672400, 678976, 685584, 692224, 698896, 705600, 712336, 719104, 725904, 732736, 739600, 746496, 753424, 760384, 767376, 774400, 781456, 788544, 795664, 802816, 810000, 817216, 824464, 831744, 839056, 846400, 853776, 861184, 868624, 876096, 883600, 891136, 898704, 906304, 913936, 921600, 929296, 937024, 944784, 952576, 960400, 968256, 976144, 984064, 992016, 1000000]